body {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#display {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    font-size: 5em;
    padding-right: 10px;
}
#delete, #clr{
    grid-column: span 2;
}
#numbers{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 80px);
    gap: 2px;
}